/*-----------------------------------------------------------------------*/
/* Site wide style                                                       */
/*-----------------------------------------------------------------------*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html {
    height:                100%;
}
body { 
    background:            #121524;
    color:                 #777;
    margin:                0;
    border:                0;
    padding:               0;
    height:                100%;
    font-size:             small;
    font-family:           Arial,sans-serif;
}
#wrapper {
    position:              relative;
    width:                 100%;
    min-height:            100%;
    background:            #eae9e8;
    color:                 #111;
}
header {
    position:              relative;
    top:                   0;
    left:                  0;
    height:                auto;
    margin:                0;
    padding:               0 3%;
    background-color:      #121524;
    background-image:      url(/static/website/img/banner_bottom.png);
    background-repeat:     repeat-x;
    background-position:   left bottom;
    color:                 white;
}
header .title {
    float:                 left;
    color:                 white;
    margin:                0;
    padding:               5px 10px 5px 10px;
    font-weight:           bold;
    font-size:             28px;
    line-height:           28px;
    font-family:           "New Century Schoolbook",Georgia,serif;
    letter-spacing:        -1.25px;
}
header a,
header a.title:active,
header a.title:hover {
    background:            transparent;
    color:                 white;
    text-decoration:       none; 
    outline:               none;
}
header .title img {
    margin:                0;
}
header a         { color:         white; }
header a:link    { text-decoration:  none; }
header a:hover   { text-decoration:  underline; }
header a:visited {  }
header a:active  { background-color: #777; color: white; }

header nav {
    float:                 right;
    margin:                0;
    padding:               0;
}
header nav .menu-item {
    display:               inline-block;
    padding:               15px 10px 11px 10px;
    margin-bottom:         4px;
    color:                 white;
    font-weight:           bold;
    font-size:             14px;
}
header .search-box {
    position:              relative;
    display:               block;
    float:                 right;
    height:                29px;
    width:                 120px;
    padding:               0;
    margin:                8px 5px 0 10px;
    background:            #262a3d;
    border-radius:        10px;
    border:                1px inset #151829;
}
header .search-box input {
    position:              absolute;
    top:                   6px;
    left:                  8px;
    margin:                0;
    padding:               0;
    color:                 #ddd;
    background:            transparent;
    border:                none;
    outline:               none;
    font-weight:           bold;
    width:                 90px;
}
header .search-box .glyphicon-search {
    position:              absolute;
    top:                   5px;
    right:                 8px;
    color:                 #ddd;
    font-size:             20px;
}
footer {
    position:              absolute;
    bottom:                0;
    left:                  0;
    width:                 100%;
    margin:                0;
    padding:               0 3%;
    overflow:              hidden;
    border-top:            1px solid #a00000;
    background:            #121524;
    color:                 white;
}
footer a {
    color:                 white;
}
footer .inner {
    position:              relative;
    min-height:            108px;
    min-width:             330px;
    margin:                0;
    color:                 white;
}
footer .penguin
{
    position:              absolute;
    bottom:                0;
    left:                  5px;
}
footer .about-site {
    position:              absolute;
    top:                   1px;
    left:                  160px;
    color:                 #ddd;
}
footer .about-site .motto
{
    padding:               5px 0;
}
footer .about-site .copyright
{
    padding:               5px 0;
    font-size:             11px;
}
footer .about-site .copyright .creative-commons
{
    display: block;
}

.site-map {
    padding:               0;
    float:                 right;
}
.site-map-column {
    margin:                0;
    padding-left:          10px;
    float:                 left;
    width:                 150px;
    height:                100px;

}
.site-map-item {
    display: block
}
.site-map-item.level-1 {
    color:                 white;
    font-weight:           bold;
    font-size:             14px;
    margin-top:            12px;
    padding:               0px;
    line-height:           16px;
}
.site-map-item.level-1:first-child {
    margin-top:            5px;
}
.site-map-item.level-2 {
    padding-left:          10px;
    color:                 #ddd;
    font-size:             12px;
    line-height:           14px;
}

main {
    position:              relative;
    padding:               20px 3% 100px 3%;
    font-size:             15px;
}
@media (max-width:680px) {
  footer .inner      { height: 200px; padding: 5px 10px 0 160px; }
  footer .about-site { left: 10px; }
  main               { padding-bottom: 200px;}
}
section {
  /*
    background:            #ededed;
    margin:                10px 15px;
    padding:               20px 30px;
    */
}
form {
    margin:                0;
    padding:               0 0 0 5px;
}
.buttons  {
    padding-top:           10px;
}
.field  {
    padding-bottom:        10px;
}
.field label  {
    display:               inline-block;
    font-weight:           bold;
    width:                 120px;
}
.field label:before  {
}
.field label.is-required:before  {
    content:               "*";
    color:                 red;
    float:                 left;
    margin-left:          -1ex;
}
.is-required-key {
    padding-left:          20px;
}
.is-required-key span.red-star {
    color:                 red;
    font-weight:           bold;
}
.field input  {
    width:                 280px;
}
.field select  {
    width:                 280px;
}
.field textarea  {
    width:                 280px;
    height:                110px;
}
.field input,
.field select,
.field textarea {
    vertical-align:        middle;
}
form .field ul {
    width:                 280px;
    list-style-type:       none;
    margin:                0;
    padding:               0;
    display:               inline;
}
form .field ul li {
    width:                 180px;
    display:               inline;
}
form .field input[type="checkbox"],
form .field input[type="radio"] {
    width:                 auto;
}
form .field ul li label {
    display:               inline;
    margin-right:          20px;
}
form .field input#oldPassword {
    margin:                20px 0;
}
.tool-bar {
    overflow:              hidden;
    position:              relative;
    padding:               20px 0px 10px 0px;
    float:                 right;
}
.tool-bar input {
    margin-right:          2px;
}
input#hiddenBtn {
    position:              absolute; 
    left:                  -100%;
}
hr {
    height:                0px;
    border-top:            1px solid #0000ff;
    border-bottom:         1px solid #7f7fff;
} 

button, 
input[type="reset"], 
input[type="button"], 
input[type="submit"] {
    -moz-appearance:       none;
    -webkit-appearance:    none;
    appearance:            none;
    border:                2px outset buttonface;
    border-radius:         4px;
    padding:               0 6px;
    font-variant:          small-caps;
}
textarea,
input[type="text"],
input[type="password"] {
    -moz-appearance:       none;
    -webkit-appearance:    none;
    appearance:            none;
    border:                2px inset #ddd;
    background-color:      white;
    border-radius:         4px;
    padding:               2px 4px;
} 
form select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled {
    background-color:      #ededed;
} 
.clear-float {
    clear:                 both;
    margin:                0;
    padding:               0;
}

a          { color: #114611; }
a:link     { text-decoration: none; }
a:visited  {  }
a:hover    { text-decoration: underline; }
a:active   { background-color: #114611; color: white }
a:hover.imglink,
a.imglink { 
    background-color:      transparent; 
    text-decoration:       none;
}
a img {
    border:                none;
}
h1 {
    margin:                1px 0 10px 0;
    letter-spacing:        -0.3px;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             26px;
    color:                 maroon;
}
h2 {
    margin:                1px 0 10px 0;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             20px;
    color:                 darkgreen;
}
h3 {
    margin:                1px 0 5px 0;
    letter-spacing:        -0.3px;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             14px;
    color:                 #333;
}
h4 {
    margin:                15px 0 5px 0;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             14px;
}
ul {
    margin:                10px 0 10px 0;
}
.alert-message {
    margin:                10px 20px 10px 20px;
    padding:               10px 15px 10px 15px;
    background-color:      #ffff6f;
    border:                1px solid #8d8d3e;
    border-radius:         4px;
    position:              relative;
}
.alert-message .close {
    position:              absolute;
    top:                   5px;
    right:                 20px;
    line-height:           20px;
    text-decoration:       none;
    outline:               0;
}
.fade {
    opacity:               0;
    -webkit-transition: opacity 0.15s linear;
       -moz-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
.clearfix:before,
.clearfix:after {
    content:               "";
    display:               table;
}
.clearfix:after {
    clear:                 both;
}

/*-----------------------------------------------------------------------*/
/* User Bar*/
/*-----------------------------------------------------------------------*/
#wagtail-userbar {
    position: fixed;
    top: 90px;
}
/*-----------------------------------------------------------------------*/
/* Blog style                                                            */
/*-----------------------------------------------------------------------*/
.blog-posts {
    padding:               0px 10px 40px 15px;
}
.days-blog-posts {
    padding:               0;
}
.days-blog-posts .days-date {
    width:                 42px;
    float:                 left;
    margin:                10px 5px 20px 5px;
    text-align:            center;
    border-radius:         5px;
    box-shadow:            2px 2px 2px 0px rgba(176,176,176,1);
}
.days-blog-posts .days-date .month {
    font-size:             10px;
    padding:               2px 0 3px 0;
    background:            #d70606;
    background:            linear-gradient(to bottom, #e22222 0%, #d40000 100%);
    color:                 white;
    border-top:            1px outset #d70606;
    border-left:           1px outset #d70606;
    border-right:          1px outset #d70606;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}
.days-blog-posts .days-date .day {
    font-size:             21px;
    font-weight:           bold;
    line-height:           26px;
    background:            #f8f8f8;
    background:            linear-gradient(to bottom, #f8f8f8 0%,
                                           #f8f8f8 70%, #f0f0f0 100%);
    color:                 #444;
    border-left:           1px outset #f8f8f8;
    border-right:          1px outset #f8f8f8;
    border-bottom:         1px outset #f8f8f8;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

.days-blog-posts .days-date .holi-observed.day,
.days-blog-posts .days-date .Sat.day {
    color:                 darkgreen;
}
.days-blog-posts .days-date .holi.day,
.days-blog-posts .days-date .Sun.day {
    color:                 #d40000;
}
.blog-post {
    margin:                10px 0 20px 0;
    padding-left:          75px;
}
.blog-post .title {
    margin:                0;
    padding:               0 0 2px;
    font-size:             18px;
    font-weight:           normal;
    line-height:           18px;
    color:                 #111;
}
