/*-----------------------------------------------------------------------*/
/* Site wide style                                                       */
/*-----------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:700);

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html {
    height:                100%;
    background:            #b7b29c;
    color:                 white;
}
body { 
    background:            #f5f2f0;
    color:                 black;
    margin:                0;
    border:                0;
    padding:               0;
    height:                100%;
    font-size:             medium;
    font-family:           Arial,sans-serif;
}
header {
    position:              relative;
    margin:                0;
    padding:               0px 0 0 0;
    /*
    background-image:      url(/static/img/dove.png);
    background-repeat:     no-repeat;
    background-position:   20px 20px;
    */
    z-index:               2;
}
header .title {
    padding:               10px 30px 2px 90px;
    background-color:      #00448f;
}
header .title img.logo {
    position:              absolute;
    left:                  10px;
    top:                   0px;
}
header .title h1 {
    text-align:            center;
    margin:                0 0;
    padding:               0px;
    color:                 white;
    font-weight:           700;
    font-size:             41px;
    line-height:           41px;
    /* font-size:             3.6vw; */
    font-family:           "Crimson Text", serif;
    /* border: 1px pink solid; */
}
header nav {
    margin:                0;
    padding:               2px 30px 0px 90px;
    text-align:            center;
    background:            #477e00;
    background:            forestgreen;
}
header nav a {
    display:               inline-block;
    padding:               5px 10px 4px 10px;
    margin-bottom:         4px;
    color:                 #bbdd78;
    /* font-weight:           bold; */
    font-size:             14px;
    line-height:           14px;
    cursor:                pointer;
}
header nav a:hover {
    color:                 white;
    text-decoration:       underline;
}

header .search-box {
    position:              relative;
    display:               block;
    float:                 right;
    height:                34px;
    width:                 220px;
    padding:               10px;
    margin:                5px 20px 0 20px;
    background:            #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
header .search-box input {
    position:              absolute;
    top:                   5px;
    left:                  15px;
    margin:                0;
    padding:               0;
    color:                 #457;
    background:            transparent;
    border:                none;
    outline:               none;
    font-size:             16px;
    width:                 180px;
}
header .search-box .glyphicon-search {
    position:              absolute;
    top:                   6px;
    right:                 10px;
    color:                 #babaaa;
    font-size:             20px;
}

header .top-details {
    padding:                10px 0 0 10px;
}
header .address {
    margin:                0px;
    padding:               1px;
    color:                 #003226;
    font-weight:           normal;
    font-size:             18px;
    font-family:           Arial,sans-serif;
}
header .address:hover   { text-decoration:  none; }
header h1 a:hover {
    color:                 white;
    text-decoration:       none; 
}
header a         {}
header a:link    { text-decoration:  none; }
header a:hover   { text-decoration:  underline; }
header a:visited {  }
header a:active  {  text-decoration:  underline; }

header img.avatar {
    position:              absolute;
    top:                   0px;
    right:                 160px;
    background:            url(/static/img/pyramid-50x50.png);
    background-repeat:     no-repeat;
}
header .account-info-links {
    position:              absolute;
    top:                   10px;
    right:                 10px;
    color:                 white;
    width:                 140px;
    white-space:           nowrap;
}
header .account-info-links .current-user {
    height:                16px;
}
header .account-info-links .logout,
header .account-info-links .login {
    height:                16px;
}

footer {
    position:              absolute;
    bottom:                0;
    left:                  0;
    width:                 100%;
    height:                25px;
    margin:                0;
    overflow:              hidden;
    border-top:            solid 1px #2a044a;
    background:            #00448f;
    color:                 white;
}
footer a {
    color:                 white;
}
footer .bottom-right {
    position:              absolute;
    bottom:                0;
    right:                 0;
    height:                20px;
    margin-right:          10px;
}
section {
    background:            #ededed;
    padding:               0;
}

.clear-right-float {
    clear:                 right;
    margin:                0;
    padding:               0;
}
a          { color: #114611; }
a:link     { text-decoration: none; }
a:visited  {  }
a:hover    { text-decoration: underline; }
a:active   { background-color: #114611; color: white }
a:hover.imglink,
a.imglink { 
    background-color:      transparent; 
    text-decoration:       none;
}
a img {
    border:                none;
}
h1 {
    margin:                0px;
    padding:               0px 0 10px 0;
    letter-spacing:        -0.3px;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             26px;
    color:                 maroon;
}
h2 {
    margin:                0px;
    padding:               0px 0 10px 0;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             20px;
    color:                 darkgreen;
}
h3 {
    margin:                0px;
    padding:               0px 0 5px 0;
    letter-spacing:        -0.3px;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             14px;
    color:                 #333;
}
h4 {
    margin:                0;
    padding:               5px 0 5px 0;
    font-family:           Verdana,Geneva,sans-serif;
    font-size:             14px;
}
ul {
    margin:                10px 0 10px 0;
}
.alert-message {
    margin:                10px 20px 10px 20px;
    padding:               10px 15px 10px 15px;
    background-color:      #ffff6f;
    border:                1px solid #8d8d3e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position:              relative;
}
.alert-message .close {
    position:              absolute;
    top:                   5px;
    right:                 20px;
    line-height:           20px;
    text-decoration:       none;
    outline:               0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.container-fluid {
    padding:                 0;
}

/*-----------------------------------------------------------------------*/
/* Home page */
/*-----------------------------------------------------------------------*/
#welcome {
    height:                500px;
    background-image:      url(/static/img/fern_unfolding.jpg);
    background-repeat:     no-repeat;
    background-size:       cover;
    margin: 0;
}
#welcome h1 {
    color:                 orangered;
    text-align:            center;
    font-size:             32px;


}
#location {
    background:            #9a9a9a;
    color:                 black;
}

