/*-----------------------------------------------------------------------*/
/* New Lynn Map */
/*-----------------------------------------------------------------------*/
#newlynn-map {
    height:                420px;
    width:                 100%;
    margin:                0;
    padding:               0;
}
#map-focusinfo {
    display:               none;
}
#map-directions {
    background:            rgba(249, 248, 247, 0.75);
    width:                 300px;
    height:                350px;
    padding:               5px 5px 5px 10px;
    margin:                10px;
    border:                1px solid #ccc;
    box-shadow:            0 2px 6px rgba(0, 0, 0, 0.3);
    overflow-x:            hidden;
    overflow-y:            auto;
    font-size:             12px;
    float:                 left;
}
/* TODO use a Bootstrap close icon ? */
#map-directions a.close {
    position:              absolute;
    top:                   5px;
    right:                 10px;
    line-height:           20px;
    text-decoration:       none;
    outline:               0;
    font-size:             150%;
    color:                 #231f20;
}
#map-directions a.close:active  {
    background-color:      white;
}
#map-directions h4 {
    font-size:             15px;
}
.field {
    margin-bottom:         5px;
}
.field label {
    display:               inline-block;
    font-weight:           bold;
    width:                 40px;
    vertical-align:        top;
    font-size:             14px;
}
.travel-mode {
    display:               inline-block;
    border:                1px solid transparent;
    width:                 20px;
    height:                20px;
    margin:                0 5px;
    background:            url(/static/img/travel_icons.png);
    background-repeat:     no-repeat;
}
.travel-mode:hover {
    border:                1px solid #ccc;
}
.travel-by-car     { background-position: 0 -40px;  }
.travel-by-transit { background-position: 0 -80px;  }
.travel-by-bicycle { background-position: 0 -160px; }
.travel-by-foot    { background-position: 0 -120px; }

.selected-travel-mode { border: 1px solid #3a8fdf; }
 
.travel-by-car.selected-travel-mode     { background-position: 0 -60px;  }
.travel-by-transit.selected-travel-mode { background-position: 0 -100px; }
.travel-by-bicycle.selected-travel-mode { background-position: 0 -180px; }
.travel-by-foot.selected-travel-mode    { background-position: 0 -140px; }

#map-directions-origin {
    display:               inline-block;
    border:                1px solid transparent;
    border-radius:         2px 0 0 2px;
         box-sizing:       border-box;
    -moz-box-sizing:       border-box;
    height:                20px;
    outline:               none;
    background-color:      #fff;
    padding:               0 11px 0 13px;
    width:                 240px;
    font-size:             14px;
    text-overflow:         ellipsis;
}
.transit-options {
    display:               none;
}
#transit-time {
    width:                 60px;
}
#map-directions-origin:focus {
    border-color:          #4d90fe;
}
#map-directions-steps .adp {
    background:            rgb(249, 248, 247);
    padding:               5px;
    font-size:             13px;
}
#map-directions-steps .adp-legal {
    font-size:          9px;
}
