{% load wagtailcore_tags wagtailimages_tags %}

{# Individual event item in a list - used on event index #}
<a class="" href="{% pageurl event %}">
    {% if event.image %}
      {% image event.image width-100 %}
    {% endif %}
    <div class="copy">
      <h4 class="">{{ event.title }}</h4>
    </div>
    {{ event.when }}
</a>
